.background {
    background-color: #35354f;
}

.navbar-toggler-no-border {
    border: none !important
}

.navbar-toggler-no-border:focus {
    border: none !important;
    box-shadow: none !important;
}